.standard suit[data-suit='h'], .standard suit[data-suit='d'] { color: #CB0000; }
.standard rank { text-transform: uppercase; }
.standard call { text-transform: uppercase; }
.standard rank[data-rank='x'] { text-transform: lowercase;}
.standard cards { margin-right: 0px; }



.images cards, .images ranks { display:inline-block; margin: 0px; padding: 0px; }

.images [data-rank] {
  display: table-cell;
  width: 30px;
  height: 50px;
  color: transparent;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

.images suit, .images [data-rank='-'] {
  visibility: hidden;
  display: none;
}
.images [data-suit=c] [data-rank=a] {
	background-image: url(img/cards/ca.png);
}
.images [data-suit=c] [data-rank=k] {
	background-image: url(img/cards/ck.png);
}
.images [data-suit=c] [data-rank=q] {
	background-image: url(img/cards/cq.png);
}
.images [data-suit=c] [data-rank=j] {
	background-image: url(img/cards/cj.png);
}
.images [data-suit=c] [data-rank=t] {
	background-image: url(img/cards/ct.png);
}
.images [data-suit=c] [data-rank=9] {
	background-image: url(img/cards/c9.png);
}
.images [data-suit=c] [data-rank=8] {
	background-image: url(img/cards/c8.png);
}
.images [data-suit=c] [data-rank=7] {
	background-image: url(img/cards/c7.png);
}
.images [data-suit=c] [data-rank=6] {
	background-image: url(img/cards/c6.png);
}
.images [data-suit=c] [data-rank=5] {
	background-image: url(img/cards/c5.png);
}
.images [data-suit=c] [data-rank=4] {
	background-image: url(img/cards/c4.png);
}
.images [data-suit=c] [data-rank=3] {
	background-image: url(img/cards/c3.png);
}
.images [data-suit=c] [data-rank="2"] {
	background-image: url(img/cards/c2.png);
}
.images [data-suit=c] [data-rank=x] {
	background-image: url(img/cards/cx.png);
}
.images [data-suit=d] [data-rank=a] {
	background-image: url(img/cards/da.png);
}
.images [data-suit=d] [data-rank=k] {
	background-image: url(img/cards/dk.png);
}
.images [data-suit=d] [data-rank=q] {
	background-image: url(img/cards/dq.png);
}
.images [data-suit=d] [data-rank=j] {
	background-image: url(img/cards/dj.png);
}
.images [data-suit=d] [data-rank=t] {
	background-image: url(img/cards/dt.png);
}
.images [data-suit=d] [data-rank=9] {
	background-image: url(img/cards/d9.png);
}
.images [data-suit=d] [data-rank=8] {
	background-image: url(img/cards/d8.png);
}
.images [data-suit=d] [data-rank=7] {
	background-image: url(img/cards/d7.png);
}
.images [data-suit=d] [data-rank=6] {
	background-image: url(img/cards/d6.png);
}
.images [data-suit=d] [data-rank=5] {
	background-image: url(img/cards/d5.png);
}
.images [data-suit=d] [data-rank=4] {
	background-image: url(img/cards/d4.png);
}
.images [data-suit=d] [data-rank=3] {
	background-image: url(img/cards/d3.png);
}
.images [data-suit=d] [data-rank="2"] {
	background-image: url(img/cards/d2.png);
}
.images [data-suit=d] [data-rank=x] {
	background-image: url(img/cards/dx.png);
}
.images [data-suit=h] [data-rank=a] {
	background-image: url(img/cards/ha.png);
}
.images [data-suit=h] [data-rank=k] {
	background-image: url(img/cards/hk.png);
}
.images [data-suit=h] [data-rank=q] {
	background-image: url(img/cards/hq.png);
}
.images [data-suit=h] [data-rank=j] {
	background-image: url(img/cards/hj.png);
}
.images [data-suit=h] [data-rank=t] {
	background-image: url(img/cards/ht.png);
}
.images [data-suit=h] [data-rank=9] {
	background-image: url(img/cards/h9.png);
}
.images [data-suit=h] [data-rank=8] {
	background-image: url(img/cards/h8.png);
}
.images [data-suit=h] [data-rank=7] {
	background-image: url(img/cards/h7.png);
}
.images [data-suit=h] [data-rank=6] {
	background-image: url(img/cards/h6.png);
}
.images [data-suit=h] [data-rank=5] {
	background-image: url(img/cards/h5.png);
}
.images [data-suit=h] [data-rank=4] {
	background-image: url(img/cards/h4.png);
}
.images [data-suit=h] [data-rank=3] {
	background-image: url(img/cards/h3.png);
}
.images [data-suit=h] [data-rank="2"] {
	background-image: url(img/cards/h2.png);
}
.images [data-suit=h] [data-rank=x] {
	background-image: url(img/cards/hx.png);
}
.images [data-suit="s"] [data-rank="a"] {
	background-image: url(img/cards/sa.png);
}
.images [data-suit=s] [data-rank=k] {
	background-image: url(img/cards/sk.png);
}
.images [data-suit=s] [data-rank=q] {
	background-image: url(img/cards/sq.png);
}
.images [data-suit=s] [data-rank=j] {
	background-image: url(img/cards/sj.png);
}
.images [data-suit="s"] [data-rank="t"] {
	background-image: url(img/cards/st.png);
}
.images [data-suit=s] [data-rank="9"] {
	background-image: url(img/cards/s9.png);
}
.images [data-suit=s] [data-rank="8"] {
	background-image: url(img/cards/s8.png);
}
.images [data-suit=s] [data-rank="7"] {
	background-image: url(img/cards/s7.png);
}
.images [data-suit=s] [data-rank="6"] {
	background-image: url(img/cards/s6.png);
}
.images [data-suit=s] [data-rank="5"] {
	background-image: url(img/cards/s5.png);
}
.images [data-suit=s] [data-rank="4"] {
	background-image: url(img/cards/s4.png);
}
.images [data-suit=s] [data-rank="3"] {
	background-image: url(img/cards/s3.png);
}
.images [data-suit=s] [data-rank="2"] {
	background-image: url(img/cards/s2.png);
}
.images [data-suit=s] [data-rank=x] {
	background-image: url(img/cards/sx.png);
}


/**
 * Bridge Winners Styles
 */
 .bw deal {
   display: block;
   width:400px;
   height: 400px;
 }

 .bw deal section {
   display: table;
   table-layout: fixed;
   width: 100%;
   height: 135px;;
   overflow: hidden;
   background-color: #228b22;
 }

 .bw deal block {
   display: table-cell;
   height: 100%;
   overflow: hidden;
 }

 .bw card-deck {
   width: 450px;
   display: block;
   font-size: 20px;
   line-height: 35px;
 }

 .bw card-deck row {
   display: table;
   table-layout: fixed;
   width: 100%;
 }

 .bw card-deck card, .bw card-deck header {
    display: table-cell;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   cursor: pointer;
   height: 35px;
   text-align: center;
   -moz-border-radius-topleft: 5px;
   -webkit-border-top-left-radius: 5px;
   border-top-left-radius: 5px;
   -moz-border-radius-topright: 5px;
   -webkit-border-top-right-radius: 5px;
   border-top-right-radius: 5px;
   border: 1px solid black;
   margin-right: -1px;
   margin-bottom: -5px;
   background: #eee;
   text-transform: uppercase;
 }
 .bw card-deck card[data-assigned] {
   background: #cc0;
 }

 .bw card-deck card[data-disabled] {
   cursor: not-allowed;
   opacity: 0.2;
 }

 .bw card-deck header {
   display: block;
   width: 100%;
   background: #9cc;
 }

 .bw bidding-box.full {
   width: 300px;
   display: block;
   font-size: 20px;
   line-height: 35px;
 }

 .bw bidding-box.full row {
   display: table;
   table-layout: fixed;
   width: 100%;
 }

 .bw bidding-box.full call {
 	 display: table-cell;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   cursor: pointer;
   height: 35px;
   text-align: center;
   -moz-border-radius-topleft: 5px;
   -webkit-border-top-left-radius: 5px;
   border-top-left-radius: 5px;
   -moz-border-radius-topright: 5px;
   -webkit-border-top-right-radius: 5px;
   border-top-right-radius: 5px;
   border: 1px solid black;
   margin-right: -1px;
   margin-bottom: -5px;
   background: #eee;
   text-transform: uppercase;
 }

 .bw bidding-box.full [data-call='p'] { background-color: #067411; color: white;}
 .bw bidding-box.full [data-call='x'] { background-color: #CB0000; color: white;}
 .bw bidding-box.full [data-call='r'] { background-color: #000099; color: white;}
 .bw bidding-box.full [data-call='u'] { background-color: black; color: white;}

 .bw bidding-box.full .disabled {
   cursor: not-allowed;
   opacity: 0.2;
 }

 .bw bidding-box.concise {
   display: block;
 	 width: 300px;
   font-size: 24px;
   line-height:40px;
 }
 .bw bidding-box.concise levels, .bw bidding-box.concise calls {
   display: table;
   table-layout: fixed;
   width: 100%;
 }
 .bw bidding-box.concise level, .bw bidding-box.concise call {
   display: table-cell;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   cursor: pointer;
   height: 35px;
   text-align: center;
   -moz-border-radius-topleft: 5px;
   -webkit-border-top-left-radius: 5px;
   border-top-left-radius: 5px;
   -moz-border-radius-topright: 5px;
   -webkit-border-top-right-radius: 5px;
   border-top-right-radius: 5px;
   border: 1px solid black;
   margin-right: -1px;
   margin-bottom: -5px;
   background: #eee;
   text-transform: uppercase;
 }
 .bw bidding-box.concise level1, .bw bidding-box.concise call1 {
     display: table-cell;
     text-align: center;
     vertical-align:middle;
     font-weight: bold;
     border: 1px solid blue;
     background: #ccf;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;
     cursor: pointer;
 }
 .bw bidding-box.concise level.selected { background: #cc0; }
 .bw bidding-box.concise call { text-transform: uppercase;}


 .bw bidding-box.concise call[data-suit='p'] { background-color: #067411; color: white; }
 .bw bidding-box.concise call[data-suit='x'] { background-color: #CB0000; color: white; }
 .bw bidding-box.concise call[data-suit='r'] { background-color: #000099; color: white; }
 .bw bidding-box.concise call[data-suit='h'], .bw bidding-box.concise call[data-suit='d'] { color: #CB0000; }
 .bw bidding-box.concise .disabled {
 	cursor: not-allowed;
 	opacity: 0.2;
 }

.bw auction {
  display: block;
  width: 128px;
  font-size: 20px;
  border: 1px solid #228b22;
}

.bw deal auction {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 20px;
  border: 1px solid #228b22;
}
.bw auction directions {
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
  background-color: #FFFFFF;
}

.bw auction directions direction {
	display: table-cell;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.bw auction calls row {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
	background: #9cc;
	font-size: 17px;
}

.bw auction calls row call {
	display: table-cell;
	text-align: center;
  text-transform: uppercase;
}

.bw auction [data-vulnerable] {
  background-color: #CB0000;
  color: white;
}

.bw suit[data-suit='h'], .bw suit[data-suit='d'] { color: #CB0000; }
.bw hand, .bw cards, .bw hand header, .bw hand content { display:block; }
.bw hand {
  width: 128px;
  font-size: 20px;
  border: 1px solid #228b22;
}

.bw deal hand {
  width:100%;
  height: 100%;
  font-size: 20px;
  border: 1px solid #228b22;
}

.bw hand header {
    white-space: nowrap;
    width: 100%;
    background-color: #FFFFFF;
}

.bw hand direction {
	display: inline-block;
  background: #336799;
  color: #FFFFFF;
  height: 100%;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
}

.bw hand direction[data-enabled] {
	cursor: pointer;
}

.bw hand name {
	display: inline-block;
	padding-left: 2%;
	height: 100%;
  width:auto;
}

.bw hand.active header {
  background: #FFCE00;
}

.bw hand header:hover {
  background-color: #99CCCC;
}

.bw hand content {
	background-color: #E2E1B5;
}

.bw cards {
	width: 100%;
}

.bw rank { text-transform: uppercase; }
.bw rank[data-rank='x'] { text-transform: lowercase;}
.bw rank[data-rank='-'] { display: none; visibility: hidden;}

.bw hand suit {
	display: inline-block;
  width: 18%;
  height: 100%;
  text-align: center;
}

.bw ranks {
	display: inline-block;
	letter-spacing: 1px;
}
