.inline suit[data-suit='h'], .inline suit[data-suit='d'] { color: #CB0000; }
.inline rank { text-transform: uppercase; }
.inline rank[data-rank='x'] { text-transform: lowercase;}
.inline cards { margin-right: 0px; }

/**
 * Bridge Winners Styles
 */
.bw suit[data-suit='h'], .bw suit[data-suit='d'] { color: #CB0000; }
.bw hand, .bw cards, .bw header, .bw content { display:block; }
.bw hand {
  width: 128px;
  font-size: 20px;
  border: 1px solid #228b22;
}
.bw header {
    white-space: nowrap;
    width: 100%
    background-color: #FFFFFF;
}

.bw direction {
	display: inline-block;
  background: #336799;
  color: #FFFFFF;
  height: 100%;
  width: 18%;
  text-align: center;
  text-transform: uppercase;
}

.bw direction.clickable {
	cursor: pointer;
}

.bw name {
	display: inline-block;
	padding-left: 2%;
	height: 100%;
  width:auto;
}

.bw header:hover {
  background-color: #99CCCC;
}

.bw content {
	background-color: #E2E1B5;
}

.bw cards {
	width: 100%;
}

.bw rank { text-transform: uppercase; }
.bw rank[data-rank='x'] { text-transform: lowercase;}
.bw rank[data-rank='-'] { display: none; visibility: hidden;}

.bw suit {
	display: inline-block;
  width: 18%;
  height: 100%;
  text-align: center;
}

.bw ranks {
	display: inline-block;
	letter-spacing: 1px;
}
